body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url('nen.jpg'); /* Đường dẫn tới hình nền */
  background-size: cover; /* Hình nền sẽ bao phủ toàn bộ màn hình */
  background-position: center; /* Căn giữa hình nền */
  background-repeat: no-repeat; /* Không lặp lại hình nền */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.7); /* Màu trắng bán trong suốt */
  backdrop-filter: blur(10px); /* Làm mờ nền phía sau */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}


  
  input {
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #user-info {
    margin-bottom: 20px;
    color: #555;
  }
  