body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('nensc.jpg'); /* Đường dẫn tới hình nền */
  background-size: cover; /* Hình nền sẽ bao phủ toàn bộ màn hình */
  background-position: center; /* Căn giữa hình nền */
  background-repeat: no-repeat; /* Không lặp lại hình nền */
}

.form-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  background: rgba(255, 255, 255, 0.7); /* Màu trắng bán trong suốt */
  backdrop-filter: blur(10px); /* Làm mờ nền phía sau */
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input,
textarea,
button {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Thay đổi màu chữ của title và content trong popup */
.swal-title,
.swal-content {
  color: #000000 !important;
  /* Đặt màu chữ đen đậm */
}